@import "util.scss";

/*header*/

/*navbars*/

.navbar1 {
    &__links {
        display: flex;
        justify-content: center;
        text-shadow: 1.5px 1.5px 0px rgb(39, 165, 187);
    }
        &__txt {
            margin-right: 12px;
            color: black !important;
            text-decoration: none;
        }
            &__txt a {
                color: black;
                display: block;
                height: 30px;
                    &:hover {
                        color: $blue;
                        text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);
                        transform: translate(8px, -5px) scale(1.2);
                        transition-duration: 0.5s;
                    }
            }
}

.navLinks {
    display: flex;
}

.navbar2 {
    background-color: black;
    color: white;
    height: 60px;
    margin: 0;
}

#navbarn2 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbarList a{
    text-shadow: 1px 1px 0px rgb(39, 165, 187);
    color: white;
    height : 60px;
    text-align: center;
    width: 100%;
    line-height: 3.5em;
    font-size: 18px;
}

.navbarList {
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
}

.navbarList a:hover {
    text-decoration: none;
    color: $blue;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    transform: translate(8px, -5px) scale(1.2);
    transition-duration: 0.5s;
    display: block;
}

/*Searchbar*/

.searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    &__text {
        width: 500px;
        height: 40px;
        padding: 10px;
        margin: 0;
        margin-bottom: 10px;
        border: 5px solid  black;
        color: $blue;
    }
        &__button {
            height: 40px;
            margin: 0;
            margin-left: -15px;
            color: $blue;
            background-color: black;
            padding-right: 10px;
            border-color: black;
            border-style: solid;
        }
}

/*Carousel texts*/

.item-title {
    position: absolute;
    font-size: 80px;
    z-index: 20;
    color: white;
    text-shadow: 2px 2px 0px rgb(75, 86, 88);
        &__txt {
            position: absolute;
            color: white;
            font-size: 21px;
            text-shadow: 1.5px 1.5px 0px rgb(75, 86, 88);
            text-align: justify;
        }
            &__btn {
                position: absolute;
                font-weight: bold;
                border-radius: 10px !important;
            }
}

#item-title1 {
    top:20%;
    right: 10%;
        &__txt {
            width: 200%;
            margin-left: -50%;
        }
}

#item-title2 {
    top: 5%;
    left: 8%;
        &__txt {
            width: 200%;
            margin-left: -50%;
        }
}

#item-title3 {
    top: 20%;
    right: 10%;
        &__txt {
            width: 200%;
            margin-left: -50%;
        }
}

#carousel-button3 {
    top: 45%;
    left: 5%;
}

#carousel-button2 {
    top: 45%;
    right: 5%;
}

#carousel-button1 {
    top: 45%;
    left: 5%;
}




/*Partie Main*/

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__square {
        width:200px ;
        margin-top: 20px;
    }
        &__img {
            object-fit: cover;
        }
         &__name {
            font-size: 15px;
         }
                &__checkout {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }
                    &__price {
                        font-size : 15px;
                    }
                        &__button {
                            font-size: 15px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
}


