@import "util.scss";

/*header*/

/*navbars*/

.navbar1 {
    &__links {
        display: flex;
        justify-content: center;
        text-shadow: 1.5px 1.5px 0px rgb(39, 165, 187);
    }
        &__txt {
            margin-right: 12px;
            color: black !important;
            text-decoration: none;
            font-size: 19px;
        }
            &__txt a {
                color: black;
                display: block;
                height: 30px;
                    &:hover {
                        color: $blue;
                        text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);
                        transform: translate(8px, -5px) scale(1.2);
                        transition-duration: 0.5s;
                    }
            }
}

.navLinks {
    display: flex;
}

.navbar2 {
    background-color: black;
    color: white;
    height: 60px;
    margin: 0;
}

#navbarn2 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbarList a{
    text-shadow: 1px 1px 0px rgb(39, 165, 187);
    color: white;
    height : 60px;
    text-align: center;
    width: 100%;
    line-height: 3.2em;
    font-size: 20px;
}

.navbarList {
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
}

.navbarList a:hover {
    text-decoration: none;
    color: $blue;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    transform: translate(8px, -5px) scale(1.2);
    transition-duration: 0.5s;
    display: block;
}

/*Searchbar*/

.searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    &__text {
        width: 500px;
        height: 40px;
        padding: 10px;
        margin: 0;
        margin-bottom: 10px;
        border: 5px solid  black;
        color: $blue;
    }
        &__button {
            height: 40px;
            margin: 0;
            margin-left: -15px;
            color: $blue;
            background-color: black;
            padding-right: 10px;
            border-color: black;
            border-style: solid;
        }
}

/*Carousel texts*/

.item-title {
    position: absolute;
    font-size: 80px;
    z-index: 20;
    color: white;
    text-shadow: 2px 2px 0px rgb(75, 86, 88);
        &__txt {
            position: absolute;
            color: white;
            font-size: 21px;
            text-shadow: 1.5px 1.5px 0px rgb(75, 86, 88);
            text-align: justify;
        }
            &__btn {
                position: absolute;
                font-weight: bold;
                border-radius: 10px !important;
            }
}

#item-title1 {
    top:20%;
    right: 18%;
        &__txt {
            width: 300%;
            margin-left: -85%;
        }
}

#item-title2 {
    top: 5%;
    left: 8%;
        &__txt {
            width: 250%;
            margin-left: -50%;
        }
}

#item-title3 {
    top: 20%;
    right: 15%;
        &__txt {
            width: 280%;
            margin-left: -90%;
        }
}

#carousel-button3 {
    top: 45%;
    left: 5%;
}

#carousel-button2 {
    top: 45%;
    right: 5%;
}

#carousel-button1 {
    top: 45%;
    left: 5%;
}




/*Partie Main*/

.main {
    &__image {
        width: 100px;
        height: 100px;
    }
        &__title {

        }
            &__price {

            }
                &__description {

                }
                    &__code {

                    }
                        &__square {
                            -webkit-box-shadow: 4px 1px 23px 2px rgba(0,0,0,0.75);
                            -moz-box-shadow: 4px 1px 23px 2px rgba(0,0,0,0.75);
                            box-shadow: 4px 1px 23px 2px rgba(0,0,0,0.75);
                                    margin: 30px;
                                    padding: 0 !important;
                                    box-sizing: border-box !important;
                                    -moz-box-sizing: border-box !important;
                                    -webkit-box-sizing: border-box !important;
                                    display: flex;
                                    flex-direction: column;
                                    width: 50%;
                                    &:hover {
                                        border: solid 2px $blue;
                                    }
                        }
}

img {
    object-fit: cover;
    width: 100%;
}

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
            &:hover {
                border: $blue solid 2px;
    }
        &__image {
            object-fit: cover;
            height:70% !important;
            width: 100% !important;
        }
         &__name {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
         }
                &__checkout {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 0%;
                    height: 15%;
                    align-items: center;
                }
                    &__price {
                        font-size : 15px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 0;
                    }
                        &__button {
                            font-size: 15px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            height: 80%;
                            margin-left: -10px;
                        }
}


/*Partie footer*/

.footer {
    background-color: black;
    width: 100%;
    &__upper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 15px;
    }
        &__logo {
            color:#545e6e;
            font-family: 'Oi', cursive;
            padding-bottom: 50px;
        }
        &__col {
            width: 100%;
            color: white;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
        }
            &__span {
                display: block;
                background-color: white ;
                width: 90%;
                height: 1px;
                margin-left: 5%;
                margin-top: 50px;
                margin-bottom: 20px;
            }
                &__logo-list {
                    font-size: 40px;
                    color:#545e6e;
                    text-align: center;
                }
                    &__media {
                        margin-right: 20px;
                        margin-top: 80px;
                        margin-bottom: 100px;
                            &:hover {
                                color: white;
                                transform: translateY(-10px);
                                transition-duration: 1.5s;
                            }
                    }
}
