.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    &__label {
        font-size: 22px;
        margin-top: 30px;
        font-weight: bolder;
    }
        &__input {
            width: 400px;
            height: 50px;
        }
            &__button {
                margin-top: 30px;
            }
}

.creditCard {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    align-content: center;
    justify-content: center;
        &__info {
            display: flex;
            flex-direction: column;
            }
             &__label {
                 font-size: 20px;
                }
                 &__input{
                        height: 40px;
                        width: 125%;
                    }
                       &__icon{
                           margin-top: 10px;
                            font-size: 65px;
                            align-self: center;
                            padding-right: 35px;
                       }
}

.formTitle {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.warning {
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
}