/*variables*/
/**/
.bold {
  font-weight: bolder;
}

/*background*/
.background {
  background-color: #545e6e;
}

/*titres*/
.logo {
  font-family: "Oi", cursive;
  text-shadow: 1.5px 1.5px 0px #27a5bb;
}

.logo1 {
  text-align: center;
}

/*txt carousel*/
.item-title {
  font-family: "Anton", sans-serif;
}
.item-title__txt {
  font-family: "Akaya Telivigala", cursive;
}

.navbarList {
  font-family: "Akaya Telivigala", cursive;
}

/*boutons*/
.item-title__btn {
  background: -moz-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #545e6e), color-stop(33%, #545e6e), color-stop(100%, #27a5bb), color-stop(100%, #27a5bb));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* ie10+ */
  background: linear-gradient(76deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#545e6e", endColorstr="#27a5bb",GradientType=1 );
  /* ie6-9 */
  border: none !important;
  font-weight: bolder !important;
}
.item-title__btn:hover {
  animation-name: button;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*links*/
.link {
  text-decoration: none !important;
}

/*no outline*/
:focus {
  outline: none;
}

/*icon*/
.fa-search {
  text-shadow: 1px 1px 2px white;
}

/*animations*/
/*button carousel*/
@keyframes button {
  from {
    background: -moz-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #545e6e), color-stop(33%, #545e6e), color-stop(100%, #27a5bb), color-stop(100%, #27a5bb));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* ie10+ */
    background: linear-gradient(76deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* w3c */
    color: white;
  }
  to {
    background: -moz-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #27a5bb), color-stop(68%, #545e6e), color-stop(100%, #545e6e), color-stop(100%, #545e6e));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* ie10+ */
    background: linear-gradient(76deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a5bb", endColorstr="#545e6e",GradientType=1 );
    /* ie6-9 */
    color: black;
    transform: rotate3d(1, 0, 0, 360deg) scale(1.2);
  }
}
/*header*/
/*navbars*/
.navbar1__links {
  display: flex;
  justify-content: center;
  text-shadow: 1.5px 1.5px 0px #27a5bb;
}
.navbar1__txt {
  margin-right: 12px;
  color: black !important;
  text-decoration: none;
  font-size: 19px;
}
.navbar1__txt a {
  color: black;
  display: block;
  height: 30px;
}
.navbar1__txt a:hover {
  color: #27a5bb;
  text-shadow: 1.5px 1.5px 0px black;
  transform: translate(8px, -5px) scale(1.2);
  transition-duration: 0.5s;
}

.navLinks {
  display: flex;
}

.navbar2 {
  background-color: black;
  color: white;
  height: 60px;
  margin: 0;
}

#navbarn2 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarList a {
  text-shadow: 1px 1px 0px #27a5bb;
  color: white;
  height: 60px;
  text-align: center;
  width: 100%;
  line-height: 3.2em;
  font-size: 20px;
}

.navbarList {
  height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
}

.navbarList a:hover {
  text-decoration: none;
  color: #27a5bb;
  text-shadow: 1px 1px 0px white;
  transform: translate(8px, -5px) scale(1.2);
  transition-duration: 0.5s;
  display: block;
}

/*Searchbar*/
.searchbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}
.searchbar__text {
  width: 500px;
  height: 40px;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  border: 5px solid black;
  color: #27a5bb;
}
.searchbar__button {
  height: 40px;
  margin: 0;
  margin-left: -15px;
  color: #27a5bb;
  background-color: black;
  padding-right: 10px;
  border-color: black;
  border-style: solid;
}

/*Carousel texts*/
.item-title {
  position: absolute;
  font-size: 80px;
  z-index: 20;
  color: white;
  text-shadow: 2px 2px 0px #4b5658;
}
.item-title__txt {
  position: absolute;
  color: white;
  font-size: 21px;
  text-shadow: 1.5px 1.5px 0px #4b5658;
  text-align: justify;
}
.item-title__btn {
  position: absolute;
  font-weight: bold;
  border-radius: 10px !important;
}

#item-title1 {
  top: 20%;
  right: 18%;
}
#item-title1__txt {
  width: 300%;
  margin-left: -85%;
}

#item-title2 {
  top: 5%;
  left: 8%;
}
#item-title2__txt {
  width: 250%;
  margin-left: -50%;
}

#item-title3 {
  top: 20%;
  right: 15%;
}
#item-title3__txt {
  width: 280%;
  margin-left: -90%;
}

#carousel-button3 {
  top: 45%;
  left: 5%;
}

#carousel-button2 {
  top: 45%;
  right: 5%;
}

#carousel-button1 {
  top: 45%;
  left: 5%;
}

/*Partie Main*/
.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item-list__square {
  -webkit-box-shadow: 4px 1px 23px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 1px 23px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 1px 23px 2px rgba(0, 0, 0, 0.75);
  margin: 30px;
  padding: 0 !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  display: flex;
  flex-direction: column;
}
.item-list__square:hover {
  border: #27a5bb solid 2px;
}
.item-list__image {
  object-fit: cover;
  height: 70% !important;
  width: 100% !important;
}
.item-list__name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.item-list__checkout {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0%;
  height: 15%;
  align-items: center;
}
.item-list__price {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.item-list__button {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 80%;
  margin-left: -10px;
}

/*Partie footer*/
.footer {
  background-color: black;
  width: 100%;
}
.footer__upper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
}
.footer__logo {
  color: #545e6e;
  font-family: "Oi", cursive;
  padding-bottom: 50px;
}
.footer__col {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.footer__span {
  display: block;
  background-color: white;
  width: 90%;
  height: 1px;
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.footer__logo-list {
  font-size: 40px;
  color: #545e6e;
  text-align: center;
}
.footer__media {
  margin-right: 20px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.footer__media:hover {
  color: white;
  transform: translateY(-10px);
  transition-duration: 1.5s;
}

/*variables*/
/**/
.bold {
  font-weight: bolder;
}

/*background*/
.background {
  background-color: #545e6e;
}

/*titres*/
.logo {
  font-family: "Oi", cursive;
  text-shadow: 1.5px 1.5px 0px #27a5bb;
}

.logo1 {
  text-align: center;
}

/*txt carousel*/
.item-title {
  font-family: "Anton", sans-serif;
}
.item-title__txt {
  font-family: "Akaya Telivigala", cursive;
}

.navbarList {
  font-family: "Akaya Telivigala", cursive;
}

/*boutons*/
.item-title__btn {
  background: -moz-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #545e6e), color-stop(33%, #545e6e), color-stop(100%, #27a5bb), color-stop(100%, #27a5bb));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* ie10+ */
  background: linear-gradient(76deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#545e6e", endColorstr="#27a5bb",GradientType=1 );
  /* ie6-9 */
  border: none !important;
  font-weight: bolder !important;
}
.item-title__btn:hover {
  animation-name: button;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*links*/
.link {
  text-decoration: none !important;
}

/*no outline*/
:focus {
  outline: none;
}

/*icon*/
.fa-search {
  text-shadow: 1px 1px 2px white;
}

/*animations*/
/*button carousel*/
@keyframes button {
  from {
    background: -moz-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #545e6e), color-stop(33%, #545e6e), color-stop(100%, #27a5bb), color-stop(100%, #27a5bb));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(14deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* ie10+ */
    background: linear-gradient(76deg, #545e6e 0%, #545e6e 33%, #27a5bb 100%, #27a5bb 100%);
    /* w3c */
    color: white;
  }
  to {
    background: -moz-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #27a5bb), color-stop(68%, #545e6e), color-stop(100%, #545e6e), color-stop(100%, #545e6e));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(14deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* ie10+ */
    background: linear-gradient(76deg, #27a5bb 0%, #545e6e 68%, #545e6e 100%, #545e6e 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a5bb", endColorstr="#545e6e",GradientType=1 );
    /* ie6-9 */
    color: black;
    transform: rotate3d(1, 0, 0, 360deg) scale(1.2);
  }
}
/*format scale*/
@media (max-width: 650px) {
  /*Carousel*/
  .item-title {
    font-size: 30px;
  }
  .item-title__txt {
    font-size: 12px;
  }

  #item-title2 {
    width: 14%;
  }
}
@media (min-width: 651px) {
  .item-title {
    font-size: 40px;
  }
  .item-title__txt {
    font-size: 20px;
  }
  .item-title__btn {
    width: 200px;
    height: 60px;
  }

  #item-title2 {
    width: 14%;
  }
}
@media (min-width: 992px) {
  .item-title {
    font-size: 80px;
  }
  .item-title__txt {
    font-size: 28px;
  }

  #item-title2 {
    width: 14%;
  }
}
/*Carousel*/
@media (min-width: 992px) {
  .carousel img {
    height: 600px;
    object-fit: cover;
  }
}
.carousel img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
